.fonction {
  height: 200px;
  width: 200px;
}

.un {
  background-image: url("img/background1.png");
}

.deux {
  background-image: url("img/background2.png");
  background-size: cover;
  margin: 0;
}

.trois {
  background-image: url("img/background3.png");
  background-position: right bottom;
  background-size: cover;
}
